@import "../node_modules/@syncfusion/ej2-base/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/tailwind3.css";

/* Fix Agenda view datepicker dropdown being cut off */
.e-quick-popup-wrapper.e-lib.e-popup.e-control.e-popup-open {
  position: -webkit-sticky;
}

/* Fix Agenda view datepicker dropdown being cut off */
.e-header-popup.e-lib.e-popup.e-control.e-popup-open {
  position: fixed;
  z-index: 20;
}

/* fixed selected bg-color issue */
.e-calendar td.e-selected span.e-day {
  background-color: #6366f1 !important;
  /* Use your primary color */
  color: #fff !important;
  border-radius: 8px !important;
}